*{
	margin:0;
	top:0;
}
a{
	text-decoration: none;
}
h3{
	font-family: microsoftYaHei 微软雅黑;
}
nav{
	background:rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(83, 173, 247, 0.08) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;	
	height: 50px;
}

nav li{
	display: inline-block;
	height: 50px
}
.name{
	float: left;
	line-height: 50px;
	padding-left: 80px;
	width: 62px;
	color: #333;
	letter-spacing: 1px;
}
nav .xuehao{
	color: #333;
	float: left;
	line-height: 50px;
}
.top-right{
	float:right;
	padding-right: 30px;
}
.top-right a{
	line-height: 50px;
	color: #1e8184;
}

#head{
	height: 600px;
	background:url("school7.png"); 
	/*需要改变图片大小*/
	/*rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%) repeat scroll 0 0;*/
	box-shadow:0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}
#head h1.title{
	/*需要改变字符间距*/
	width: 180px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 70px auto auto;
	font-size: 45px;
}
#head h3{
	text-align: center;
	width: 500px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	/*font-size: 18px;*/
}
#head .daoyu{
	width: 500px; 
	margin: 0 auto;
	color: #333;
	border-radius: 10px;
	box-shadow:0 3px 10px #000;
	background: linear-gradient(to bottom, rgba(83, 173, 247, 0.08) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
	line-height: 40px;
	padding:8px 20px;
	font-size: 18px;

}

#section1{	
	background-color: #1e8184;
}

.zuowei{
	margin:20px 0 15px 50px;
}

#section1.explain{
	float: right;
}
#section1.explain{
	width: 
}
#section2{
	height: 50px;
	background-color: #ccc;
	
}
#bottom{
	height: 50px;
	background:rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(83, 173, 247, 0.08) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;	
;	
}
#bottom p{
	color: #444;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

