*{
	margin:0;
	top:0;
}
nav{
	background-color: #b8cadc;
	height: 50px;
}

nav li{
	display: inline-block;
	height: 50px
}
.name{
	line-height: 50px;
	padding-left: 80px;
}
.top-right{
	float:right;
}
a{
	text-decoration: none;
	line-height: 50px;
}

#head{
	height: 50px;
	background-color: #ccc;

}
#left{
	height: 50px;
	background-color: #ccc;
	
}
#right{
	height: 50px;
	background-color: #ccc;
	
}
#bottom{
	height: 50px;
	background-color: #ccc;
	
}

